<app-header titulo="Date Time"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Fecha de nacimiento</ion-label>
        <ion-datetime 
        [value]="fechaNac.toISOString()" 
        display-format="DD MMMM YYYY" 
        (ionChange)="cambioFecha($event)"></ion-datetime>
    </ion-item>



    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Min y Max</ion-label>
        <ion-datetime 
        min="2019-12-31" 
        max="2021-12-31" 
        display-format="DD MMMM YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años</ion-label>
        <ion-datetime 
        min="2010" 
        max="2020" 
        display-format="DD MMMM YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Custom options</ion-label>
        <ion-datetime [pickerOptions]="customPickerOptions"></ion-datetime>
    </ion-item>


  </ion-list>

</ion-content>
