<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <!-- <img src="assets/stan.jpeg" /> -->
        <ion-img src="assets/stan.jpeg"></ion-img>
        <!-- <img src="assets/stan.jpeg" /> -->
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<ion-content>

  <ion-chip color="primary" outline="false">
    <ion-avatar>
      <img src="assets/stan.jpeg" />
    </ion-avatar>
    <ion-label>Default</ion-label>
  </ion-chip>

</ion-content>
