<app-header titulo="Card"></app-header>

<ion-content class="ion-padding">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="secondary">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>marcador</ion-label>
    </ion-item>
  </ion-card>
  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae natus ipsam nobis omnis unde nostrum eveniet consequuntur iure, iste nulla quaerat. Voluptatibus officia unde officiis velit culpa, aliquid laboriosam. Ex.
  </ion-card-content>




<ion-card>
  <img src="https://media.revistagq.com/photos/5ca5f647bda594ff0e33de43/master/w_375%2cc_limit/samuel_l_jackson_6415.jpg" alt="">
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque repellendus accusantium magnam facere deleniti ipsa a pariatur quae perspiciatis beatae? Neque dolorum natus ut quos mollitia distinctio consectetur asperiores et.
  </ion-card-content>
</ion-card>


</ion-content>
